body {
    font-family: sans-serif;
    font-size: 13px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}
ul {
    text-decoration: none;
    height: auto;
    text-align: left;
    margin: 0;
    padding: 3px;
}
li {
    padding: 15px 0px 0 15px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    vertical-align: bottom;
}
header {
/*    background-color: grey;*/
    height: 60px;
    display: block;
    z-index: 100;
}
.leftNav {
    float: left;
    margin: 0 auto;
    left: 0;
    position: absolute;
    
    
}

.rightNav {
    float: right;
    margin-right: 150px;
}
.rightNavGroup{
    position: absolute;
    right: 0;
}
.moreAppsIcon {
    width: 25px;
    height: 25px;
    background-color: grey;
    right: 105px;
    top: calc(50% - 25% / 2);
    vertical-align: bottom;
    position: absolute;    
}
.notificationIcon {
    width: 25px;
    height: 25px;
    background-color: grey;
    right: 57px;
    top: calc(50% - 25% / 2);
    border-radius: 50%;
    position: absolute;
}
.pictureIcon {
    width: 35px;
    height: 35px;
    background-color: grey;
    right: 10px;
    top: calc(50% - 50% / 2);
    border-radius: 50%;
    position: absolute;
}
input[type=text]{
    display: inline-block;
    margin: 0 auto;
    width: 500px;
    padding: 5px;
    height: 30px;
    top: 400px;
    margin: 0 175px;

}
.gdoodle {
text-align: center;
    margin: 0 0px 35px;
    position: relative;
    
}
.gdoodle img {
    margin: 0 150px 35px;
}
/*
@media (min-width: 900px) {
    header {
        display: block;
    }
}
*/
@media (max-width: 700px) {
    body {
        margin-top: 60px;
    }
    header {
        display: none;
    }

}
